.home-title {
	display: flex;
	justify-content: center;
}
.form-search {
	width: 100%;
	max-width: 800px;
	margin: auto;
	padding: 1.5rem;
}
.form-search label {
	display: none;
}
.form-search input {
	width: 100%;
	padding: 0.7rem 1rem;
	border-radius: 1rem;
	outline: none;
	font-size: 1rem;
	border: 0.1rem solid #ccc;
}
